.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form{
  max-width: 600px;
  border: 2px solid grey;
  margin: 10px auto;
  padding: 20px; 
}

.form .inputfield{
  padding: 8px 100px;
}
.form .button{
  padding: 8px;
  background-color: #B04759;
  margin-left: 5px;
  color: #fff;
  border: 2px solid #B04759;
}

.form .heading{
  font-weight: bolder;
  font-size: 22px;
}

.form .heading.invalid{
  font-weight: bolder;
  font-size: 26px;
  color: red;
} 

.head{
  max-width: 640px;
  background-color: #B04759;
  color: #fff;
  border: 2px solid #B04759;
  margin: 5px auto;
  word-break: break-all;
  font-size: 26px;
}